.title {
  text-align: center;
  font-weight: bold;
}

.heading {
  font-family: Helvetica Neue, serif;
  color: rgb(66, 18, 111);
  background: linear-gradient (rgb(120, 227, 221), rgb(118, 225, 118));
}

body {
  padding: 30px;
}

div {

  height: 200px;
  background: linear-gradient(to top left, powderblue, pink);
}

h1 {
  text-align: center;
  position: relative;
  font-style: italic;
  font-size: 45px;
  font-family: 'True Gothic Cyr', 'serif';
  color: rgb(2, 63, 2);
  background: linear-gradient (to top left, rgb(120, 227, 221), rgb(118, 225, 118));
}

h2 {
  text-align: center;
  position: relative;
  font-family: 'True Gothic Cyr', 'Franklin Gothic Medium', 'serif';
  font-size: 40px;
  color: rgb(12, 29, 19);
}

#page {
  margin: 15px;
  position: center;

  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.428), rgba(255, 255, 255, 0.414)), url(Img/laika-sobaka.jpg);


}

.image {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.501), rgba(255, 255, 255, 0.511)), url(Img/luca.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.text1 {
  margin: 5px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: Helvetica Neue, serif;
  font-style: justify;
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  display: flex;
  justify-content: space-around;
}


.img_me {
  border: 1px solid #aaa;
  background: #FFDEAD;
  margin: 15px;
  padding: 15px;
  text-align: center;
  display: block;
  width: 500px;
}

@font-face {
  font-family: 'True Gothic Cyr';
  src: url('TrueGothicCyr.eot');
  src: local('True Gothic Cyr'), local('TrueGothicCyr'),
    url('TrueGothicCyr.eot?#iefix') format('embedded-opentype'),
    url('TrueGothicCyr.woff2') format('woff2'),
    url('TrueGothicCyr.woff') format('woff'),
    url('TrueGothicCyr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}